@charset "UTF-8";
.session-message-box {
	position: fixed;
	right: 25px;
	bottom: 50px;
	z-index: 1;
}
.session-message-box .session-message {
	display: flex;
	align-items: center;
	max-width: 265px;
	margin-top: 5px;
	padding: 10px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	background-color: white;
	cursor: pointer;
}
.session-message-box .session-message .icon {
	color: #0545B1;
}
.session-message-box .session-message .icon .fa-exclamation-triangle {
	color: #F15F5F;
}
.session-message-box .session-message .content {
	margin-left: 5px;
}
.session-message-box .session-message .content .title {
	font-family: "나눔스퀘어";
	font-size: 14pt;
	color: dimgray;
}
.session-message-box .session-message .content .subject {
	max-width: 180px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}